input{
    width: 0;
    height: 0;
}
input:checked+label div{
    background-color:rgb(12, 229, 12);
    right: 2px;
}
label{
    display: inline-block;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color:orchid;
    position: relative;
}
div{
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 25px;
    position:absolute;
}
